@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
  font-family: 'LEMONMILK-Bold';
  font-weight: normal;
  src: url('../Font/lemon_milk/LEMONMILK-Bold.woff') format('woff');
}

@font-face {
  font-family: 'LEMONMILK-BoldItalic';
  font-weight: normal;
  src: url('../Font/lemon_milk/LEMONMILK-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'LEMONMILK-Light';
  font-weight: normal;
  src: url('../Font/lemon_milk/LEMONMILK-Light.woff') format('woff');
}

@font-face {
  font-family: 'LEMONMILK-LightItalic';
  font-weight: normal;
  src: url('../Font/lemon_milk/LEMONMILK-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'LEMONMILK-Medium';
  font-weight: normal;
  src: url('../Font/lemon_milk/LEMONMILK-Medium.woff') format('woff');
}

@font-face {
  font-family: 'LEMONMILK-MediumItalic';
  font-weight: normal;
  src: url('../Font/lemon_milk/LEMONMILK-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'LEMONMILK-Regular';
  font-weight: normal;
  src: url('../Font/lemon_milk/LEMONMILK-Regular.woff') format('woff');
}

@font-face {
  font-family: 'LEMONMILK-RegularItalic';
  font-weight: normal;
  src: url('../Font/lemon_milk/LEMONMILK-RegularItalic.woff') format('woff');
}
